<table class="nav-wrapper">
  <tr class="nav-list">
    <!-- Home page link -->
    <td>
      <a href="/static_pages/home"> Home | </a>
    </td>

    <td>
      <a href="static_pages/help"> Help | </a>
    </td>

    <td>
      <a href="/static_pages/about"> About | </a>
    </td>

    <td>
      <a href="/"> Login | </a>
    </td>

    <!-- Create new user link -->
<!--     <td>
      <a href="/users/new"> Register | </a>
    </td> -->
    
    <!-- Login link -->
<!--     <td>
      <a id="login-link" href="/sessions/new"> Login | </a>
    </td> -->

  </tr>
</table>
