<% provide(:title, "About") %>
<% provide(:secondary_title, "About Ellie") %>

<h1>About: Ellie Farmgirl</h1>

<p>Ellie is a tiny goofy little Yorkie that gets into all kinds of trouble and her parents in need of a way to keep track of her medical records, vaccinations, medications, etc.  Decided to create an app to help them manage.</p>
