<% provide(:custom_title, "Contact Us") %>
<h1>Contact</h1>
<p>
  Questions or concerns about the Ellie Farmgirl app? Get in touch with us  
  <a href="https://www.patrickjameshoban.com/#contact">here</a>.
</p>
