<% provide(:custom_title, "Contact Us") %>
<h1>Contact</h1>
<p>
  Contact Patrick and Mary about the Ellie Farmgirl app at the
  <a href="https://www.patrickjameshoban.com/#contact">contact page</a>.
</p>
