<% provide(:title, "Help") %>
<% provide(:secondary_title, "Farmgirl FAQs") %>
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) %> | Farmgirl FAQs
    </title>
  </head>
  <body>
    <h1>
      Ellie Farmgirl FAQs
    </h1>
    <p>
      Welcome to Ellie Farmgirl's FAQ Help page.  Get in touch with <a href="https://www.patrickjameshoban.com">Patrick and Mary</a> for more information.
    </p>
  </body>
</html>