<footer class="footer" />
  <small>
    <a href="https://www.elliefarmgirl.com">Ellie Farmgirl Copyright 2018</a> by <a href="www.patrickjameshoban.com">Patrick</a> and Mary.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>

